# General
.DS_Store
.idea/
.packages
.pub/
build/
flutter_*.png
*.log
*.lock

# Dart tooling
.dart_tool/
# If you're using Flutter, also ignore the following
.flutter-plugins
.flutter-plugins-dependencies
.generated/

# Web build output
/web/
/build/

# IntelliJ IDEA-related
*.iml
*.ipr
*.iws
.idea/

# VS Code-related
.vscode/
